@model MVCTeknolojikMarketYonetimPaneli.Models.EkModel.Istatistik

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-group">
    <label>ŞUBENİN ENLERİ</label>

    <br/>

    <div class="panel panel-primary">
        <div class="panel-heading">En çok satılan kategori</div>
        <div class="panel-body">@Model.Kategori</div>

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">En çok satılan ürün</div>
        <div class="panel-body">@Model.Urun</div>
      
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">En çok satış yapan personel</div>
        <div class="panel-body">@Model.Personel</div>
       
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">En çok satın alma işlemi gerçekleştiren müşteri</div>
        <div class="panel-body">@Model.Musteri</div>
       
    </div>

   

</div>