@using MVCTeknolojikMarketYonetimPaneli.Models.Model

@model TBL_MESAJPERYON



@{
    ViewBag.Title = "GidenMesajiGoruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-success">



    <div class="panel-heading" style="text-transform:uppercase; text-decoration-color:black; text-align:center; font:bold">@Model.MESAJBASLIGI</div>
    <div class="panel-body">@Model.MESAJICERIGI</div>


</div>

