@using MVCTeknolojikMarketYonetimPaneli.Models.Model

@using PagedList
@using PagedList.Mvc


@model PagedList.IPagedList<TBL_KATEGORI>

@{
    ViewBag.Title = "SilinmisKategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SilinmisKategoriler", "Kategori", FormMethod.Get))
{

    <p>

        Kategori Ad @Html.TextBox("ad")



        <input type="submit" value="Ara" class="btn-info" />


    </p>


}


<table class="table table-hover">

    <tr>

        <th>KATEGORİ AD</th>
        <th>İŞLEMLER</th>

    </tr>


    @foreach (var x in Model)
    {

        <tr>


            <td>@x.KATEGORIAD</td>


            <td>
                <a href="/Kategori/KategoriGeriGetir/@x.KATEGORIID" class="btn btn-success">Geri Getir</a>
              
            </td>



        </tr>


    }






</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("SilinmisKategoriler", new { sayfa }))
