@model MVCTeknolojikMarketYonetimPaneli.Models.Model.TBL_DUYURU

@{
    ViewBag.Title = "DuyuruEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}


@using (Html.BeginForm("DuyuruEkle", "Duyuru", FormMethod.Post))
{

    <label>Duyuru İçeriğini yazınız.</label>

    @Html.TextAreaFor(m => m.DUYURUICERIGI, new { rows = "5", @class = "form-control" })

    @Html.ValidationMessageFor(m => m.DUYURUICERIGI, "", new { @style = "color:red" })

    <br />

    <button class="btn btn-success">Duyuruyu Oluştur</button>


}
